<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.harismawan.bakingapp">
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
    
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.ListDetailActivity">
        </activity>
        <activity android:name=".activity.RecipeDetailActivity">
        </activity>
        
        <service
                android:name=".widget.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
        
        <receiver android:name=".widget.IngredientAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/ingredient_app_widget_info"/>
        </receiver>
    </application>

</manifest>